<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.6.0-4-g7f85cfe  Build Version: 1.6.7995.38578
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="g308_test1">
  <link
    name="base_link">
    <inertial>
      <origin
        xyz="-0.0461979664524284 -1.17681768194924E-05 0.0105492310143219"
        rpy="0 0 0" />
      <mass
        value="1.95581210125627" />
      <inertia
        ixx="0.0147778202660152"
        ixy="-1.05162781462962E-07"
        ixz="-1.09332218398243E-06"
        iyy="0.0125847623047929"
        iyz="1.48283341201838E-06"
        izz="0.0210875822494919" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://g308_test1/meshes/base_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://g308_test1/meshes/base_link.STL" />
      </geometry>
    </collision>
  </link>
  <link
    name="lf1">
    <inertial>
      <origin
        xyz="0.000645338589346081 0.000571806374734474 0.0692312452428769"
        rpy="0 0 0" />
      <mass
        value="0.318232651145697" />
      <inertia
        ixx="0.000371905213951895"
        ixy="8.54023233900234E-05"
        ixz="-2.30943444769953E-08"
        iyy="0.000273313681130012"
        iyz="1.65092610589602E-08"
        izz="0.000231734319828521" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://g308_test1/meshes/lf1.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 0 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://g308_test1/meshes/lf1.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="lfj1"
    type="continuous">
    <origin
      xyz="-0.12121 0.1475 0.012201"
      rpy="1.5708 0.5236 -3.1416" />
    <parent
      link="base_link" />
    <child
      link="lf1" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="-3.14"
      upper="3.14"
      effort="20"
      velocity="10" />
  </joint>
  <link
    name="lf2">
    <inertial>
      <origin
        xyz="-0.012264393737636 -0.00575009686604072 -0.0438255043724106"
        rpy="0 0 0" />
      <mass
        value="0.50615450098718" />
      <inertia
        ixx="0.000325118667045124"
        ixy="-8.90254538876764E-05"
        ixz="-4.23242336848316E-09"
        iyy="0.000503708941101464"
        iyz="1.23318635161342E-08"
        izz="0.000801293368160919" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://g308_test1/meshes/lf2.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 0 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://g308_test1/meshes/lf2.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="lfj2"
    type="continuous">
    <origin
      xyz="0.025906 0.01513 0.0802"
      rpy="-1.5708 -0.6545 2.0944" />
    <parent
      link="lf1" />
    <child
      link="lf2" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="-3.14"
      upper="3.14"
      effort="20"
      velocity="10" />
  </joint>
  <link
    name="lf3">
    <inertial>
      <origin
        xyz="0.0633313265646677 -0.0400200837453655 0.0140342754513096"
        rpy="0 0 0" />
      <mass
        value="0.101165794083912" />
      <inertia
        ixx="6.03690927040477E-05"
        ixy="7.94426080977235E-05"
        ixz="1.99930744399565E-10"
        iyy="0.000141463572684114"
        iyz="-1.30568603463954E-10"
        izz="0.000194608017998217" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://g308_test1/meshes/lf3.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 0 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://g308_test1/meshes/lf3.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="lfj3"
    type="continuous">
    <origin
      xyz="-0.13858 -0.057403 -0.082"
      rpy="0 0 -0.9163" />
    <parent
      link="lf2" />
    <child
      link="lf3" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="-3.14"
      upper="3.14"
      effort="20"
      velocity="10" />
  </joint>
  <link
    name="lf4">
    <inertial>
      <origin
        xyz="3.97575036781284E-09 -0.000158405461235245 1.23199633828008E-09"
        rpy="0 0 0" />
      <mass
        value="0.0324776231528867" />
      <inertia
        ixx="5.27515525323504E-06"
        ixy="1.11411296459474E-13"
        ixz="2.27169126235107E-12"
        iyy="5.19366816295095E-06"
        iyz="-1.25235730315581E-12"
        izz="5.22489160656528E-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://g308_test1/meshes/lf4.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://g308_test1/meshes/lf4.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="lfj4"
    type="fixed">
    <origin
      xyz="0.11552 -0.10631 0.01415"
      rpy="-1.486 -1.5689 1.5708" />
    <parent
      link="lf3" />
    <child
      link="lf4" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="lb1">
    <inertial>
      <origin
        xyz="0.000645338589338254 0.000571806374730303 0.0692312452428764"
        rpy="0 0 0" />
      <mass
        value="0.318232651145697" />
      <inertia
        ixx="0.000371905213951895"
        ixy="8.54023233900234E-05"
        ixz="-2.30943444766948E-08"
        iyy="0.000273313681130012"
        iyz="1.65092610590978E-08"
        izz="0.000231734319828521" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://g308_test1/meshes/lb1.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 0 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://g308_test1/meshes/lb1.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="lbj1"
    type="continuous">
    <origin
      xyz="-0.12121 -0.1475 0.012201"
      rpy="-1.5708 -0.5236 3.1416" />
    <parent
      link="base_link" />
    <child
      link="lb1" />
    <axis
      xyz="0 0 -1" />
    <limit
      lower="-3.14"
      upper="3.14"
      effort="20"
      velocity="10" />
  </joint>
  <link
    name="lb2">
    <inertial>
      <origin
        xyz="-0.0122643929136061 -0.00575009664351261 -0.0438255043724107"
        rpy="0 0 0" />
      <mass
        value="0.50615450098718" />
      <inertia
        ixx="0.000325118667056996"
        ixy="-8.90254538834135E-05"
        ixz="-4.23239831282882E-09"
        iyy="0.000503708941089595"
        iyz="1.23318862716347E-08"
        izz="0.000801293368160921" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://g308_test1/meshes/lb2.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 0 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://g308_test1/meshes/lb2.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="lbj2"
    type="continuous">
    <origin
      xyz="0.025906 0.01513 0.0802"
      rpy="1.5708 0.6545 -1.0472" />
    <parent
      link="lb1" />
    <child
      link="lb2" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="-3.14"
      upper="3.14"
      effort="20"
      velocity="10" />
  </joint>
  <link
    name="lb3">
    <inertial>
      <origin
        xyz="0.0633313265646767 -0.0400200837453497 0.0130342754513093"
        rpy="0 0 0" />
      <mass
        value="0.10116579408391" />
      <inertia
        ixx="6.03690927040394E-05"
        ixy="7.94426080977186E-05"
        ixz="1.99930744053711E-10"
        iyy="0.000141463572684123"
        iyz="-1.3056860320513E-10"
        izz="0.000194608017998217" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://g308_test1/meshes/lb3.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 0 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://g308_test1/meshes/lb3.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="lbj3"
    type="continuous">
    <origin
      xyz="-0.13858 -0.057403 -0.081"
      rpy="0 0 -0.9163" />
    <parent
      link="lb2" />
    <child
      link="lb3" />
    <axis
      xyz="0 0 -1" />
    <limit
      lower="-3.14"
      upper="3.14"
      effort="20"
      velocity="10" />
  </joint>
  <link
    name="lb4">
    <inertial>
      <origin
        xyz="3.97575034005726E-09 -0.0001584054612353 1.23199636603566E-09"
        rpy="0 0 0" />
      <mass
        value="0.0324776231528866" />
      <inertia
        ixx="5.27515525323503E-06"
        ixy="1.11411302734831E-13"
        ixz="2.27169126379952E-12"
        iyy="5.19366816295094E-06"
        iyz="-1.25235730222998E-12"
        izz="5.22489160656527E-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://g308_test1/meshes/lb4.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://g308_test1/meshes/lb4.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="lbj4"
    type="fixed">
    <origin
      xyz="0.11552 -0.10631 0.01315"
      rpy="0 1.5708 0" />
    <parent
      link="lb3" />
    <child
      link="lb4" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="rf1">
    <inertial>
      <origin
        xyz="-0.000713181430966492 -0.000454299126098066 0.0692312452428759"
        rpy="0 0 0" />
      <mass
        value="0.318232651145697" />
      <inertia
        ixx="0.000371905213951894"
        ixy="8.54023233900235E-05"
        ixz="2.30943444768996E-08"
        iyy="0.000273313681130012"
        iyz="-1.65092610588017E-08"
        izz="0.000231734319828521" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://g308_test1/meshes/rf1.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 0 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://g308_test1/meshes/rf1.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="rfj1"
    type="continuous">
    <origin
      xyz="0.028793 0.1475 0.012201"
      rpy="1.5708 0.5236 -3.1416" />
    <parent
      link="base_link" />
    <child
      link="rf1" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="-3.14"
      upper="3.14"
      effort="20"
      velocity="10" />
  </joint>
  <link
    name="rf2">
    <inertial>
      <origin
        xyz="0.00462433769752282 -0.012694628670369 -0.0438255041269623"
        rpy="0 0 0" />
      <mass
        value="0.50615450098718" />
      <inertia
        ixx="0.00050344838862075"
        ixy="8.93042692045326E-05"
        ixz="4.23237482251381E-09"
        iyy="0.000325379219525839"
        iyz="-1.23318899879337E-08"
        izz="0.000801293368160919" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://g308_test1/meshes/rf2.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 0 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://g308_test1/meshes/rf2.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="rfj2"
    type="continuous">
    <origin
      xyz="-0.025981 -0.015 0.0802"
      rpy="-1.5708 1.4399 -1.0472" />
    <parent
      link="rf1" />
    <child
      link="rf2" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="-3.14"
      upper="3.14"
      effort="20"
      velocity="10" />
  </joint>
  <link
    name="rf3">
    <inertial>
      <origin
        xyz="0.0633313265646771 0.0400200837453495 -0.00403427545130949"
        rpy="0 0 0" />
      <mass
        value="0.10116579408391" />
      <inertia
        ixx="6.0369092704038E-05"
        ixy="-7.9442608097719E-05"
        ixz="-1.99930744104353E-10"
        iyy="0.000141463572684123"
        iyz="-1.30568603271455E-10"
        izz="0.000194608017998216" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://g308_test1/meshes/rf3.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 0 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://g308_test1/meshes/rf3.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="rfj3"
    type="continuous">
    <origin
      xyz="0.057403 -0.13858 -0.064"
      rpy="0 0 -3.0107" />
    <parent
      link="rf2" />
    <child
      link="rf3" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="-3.14"
      upper="3.14"
      effort="20"
      velocity="10" />
  </joint>
  <link
    name="rl4">
    <inertial>
      <origin
        xyz="3.97575039556841E-09 -0.0001584054612353 1.23199639379123E-09"
        rpy="0 0 0" />
      <mass
        value="0.0324776231528866" />
      <inertia
        ixx="5.27515525323503E-06"
        ixy="1.11411295596171E-13"
        ixz="2.27169126554822E-12"
        iyy="5.19366816295094E-06"
        iyz="-1.25235730993207E-12"
        izz="5.22489160656527E-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://g308_test1/meshes/rl4.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://g308_test1/meshes/rl4.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="rlj4"
    type="fixed">
    <origin
      xyz="0.11552 0.10631 -0.00415"
      rpy="1.6556 1.5689 -1.5708" />
    <parent
      link="rf3" />
    <child
      link="rl4" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="rb1">
    <inertial>
      <origin
        xyz="-0.0216552172002267 -0.049231245242876 3.6843868633965E-05"
        rpy="0 0 0" />
      <mass
        value="0.318232651145697" />
      <inertia
        ixx="0.000421217912344398"
        ixy="1.17456584712419E-08"
        ixz="9.77568411311087E-09"
        iyy="0.000231734319828521"
        iyz="-2.58446117130895E-08"
        izz="0.000224000982737508" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://g308_test1/meshes/rb1.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://g308_test1/meshes/rb1.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="rbj1"
    type="continuous">
    <origin
      xyz="0.051293 -0.1675 0.012201"
      rpy="0 0 0" />
    <parent
      link="base_link" />
    <child
      link="rb1" />
    <axis
      xyz="0 1 0" />
    <limit
      lower="-3.14"
      upper="3.14"
      effort="20"
      velocity="0" />
  </joint>
  <link
    name="rb2">
    <inertial>
      <origin
        xyz="0.00573132719717132 -0.0132041689932637 -0.0438255041269631"
        rpy="0 0 0" />
      <mass
        value="0.50615450098718" />
      <inertia
        ixx="0.000503448388552978"
        ixy="8.93042689131304E-05"
        ixz="-4.23237656012294E-09"
        iyy="0.000325379219593611"
        iyz="1.23318943918852E-08"
        izz="0.00080129336816092" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://g308_test1/meshes/rb2.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 0 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://g308_test1/meshes/rb2.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="rbj2"
    type="continuous">
    <origin
      xyz="0.0075 -0.0602 0"
      rpy="1.5708 0.1309 -1.5708" />
    <parent
      link="rb1" />
    <child
      link="rb2" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="-3.14"
      upper="3.14"
      effort="20"
      velocity="10" />
  </joint>
  <link
    name="rb3">
    <inertial>
      <origin
        xyz="0.0633313263820162 0.040020080751853 0.0179657245486843"
        rpy="0 0 0" />
      <mass
        value="0.101165794083911" />
      <inertia
        ixx="6.03690927040394E-05"
        ixy="-7.94426080977184E-05"
        ixz="-1.99930744101426E-10"
        iyy="0.000141463572684123"
        iyz="-1.30568603270298E-10"
        izz="0.000194608017998217" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://g308_test1/meshes/rb3.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 0 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://g308_test1/meshes/rb3.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="rbj3"
    type="continuous">
    <origin
      xyz="0.057403 -0.13858 -0.086"
      rpy="0 0 -3.0107" />
    <parent
      link="rb2" />
    <child
      link="rb3" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="-3.14"
      upper="3.14"
      effort="20"
      velocity="10" />
  </joint>
  <link
    name="rb4">
    <inertial>
      <origin
        xyz="3.97575034005726E-09 -0.000158405461235328 1.23199631052451E-09"
        rpy="0 0 0" />
      <mass
        value="0.0324776231528866" />
      <inertia
        ixx="5.27515525323503E-06"
        ixy="1.11411296316773E-13"
        ixz="2.27169126333341E-12"
        iyy="5.19366816295094E-06"
        iyz="-1.25235730389813E-12"
        izz="5.22489160656526E-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://g308_test1/meshes/rb4.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://g308_test1/meshes/rb4.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="rbj4"
    type="fixed">
    <origin
      xyz="0.11552 0.10631 0.01785"
      rpy="0 -1.5708 0" />
    <parent
      link="rb3" />
    <child
      link="rb4" />
    <axis
      xyz="0 0 0" />
  </joint>
</robot>