<launch>
    <param name="robot_description" command="$(find xacro)/xacro $(find sim)/urdf/demo.xacro" />
    <node pkg="joint_state_publisher" type="joint_state_publisher" name="joint_state_publisher" output="screen" />
    <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher" output="screen" />
    <include file="$(find gazebo_ros)/launch/empty_world.launch">
        <arg name="world_name" value="$(find sim)/world/ground2.world" />
    </include>
    <!-- 在 gazebo 中显示机器人模型 -->
    <node pkg="gazebo_ros" type="spawn_model" name="model" args="-urdf -model mycar -param robot_description -x 0 -y 0 -z 0.2" >
        <param name="publish_odom" value="false"/>
        <param name="publish_odom_tf" value="false"/>
    </node>

    <param 
        name = "description"
        textfile = "$(find sim)/urdf/simcar.xacro" />
    <node pkg="rviz" type="rviz" name="rviz" output="screen" />
</launch>
