<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.6.0-4-g7f85cfe  Build Version: 1.6.7995.38578
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="g308_km">
  <link
    name="base_link">
    <inertial>
      <origin
        xyz="-0.021402 0.0044886 -1.7081E-05"
        rpy="0 0 0" />
      <mass
        value="2.6795" />
      <inertia
        ixx="0.0076492"
        ixy="1.5153E-21"
        ixz="-5.1771E-19"
        iyy="0.0063735"
        iyz="7.6995E-20"
        izz="0.0030666" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://g308_km/meshes/base_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 0 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://g308_km/meshes/base_link.STL" />
      </geometry>
    </collision>
  </link>
  <link
    name="FL_hip">
    <inertial>
      <origin
        xyz="0.0323040033471836 0.000154622877042843 -0.000486401620729562"
        rpy="0 0 0" />
      <mass
        value="0.644397945178878" />
      <inertia
        ixx="0.000560096488896003"
        ixy="-2.58445896879268E-08"
        ixz="-1.17457351822168E-08"
        iyy="0.000387498452982005"
        iyz="9.77577836230496E-09"
        izz="0.000727167585866916" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://g308_km/meshes/FL_hip.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0 0.501960784313725 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://g308_km/meshes/FL_hip.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="FL_hip_joint"
    type="revolute">
    <origin
      xyz="-0.1699 -0.0615 0.0077356"
      rpy="1.5708 0 3.1416" />
    <parent
      link="base_link" />
    <child
      link="FL_hip" />
    <axis
      xyz="1 0 0" />
    <limit
      lower="0"
      upper="0"
      effort="20"
      velocity="10" />
  </joint>
  <link
    name="FL_thigh">
    <inertial>
      <origin
        xyz="-0.00335375585464631 -0.0338204158503171 -0.0432769291541621"
        rpy="0 0 0" />
      <mass
        value="1.30117807647032" />
      <inertia
        ixx="0.00279206136091983"
        ixy="0.000172867258688035"
        ixz="2.70466477607684E-06"
        iyy="0.000956985960310882"
        iyz="-2.89466002187037E-06"
        izz="0.00368635586600483" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://g308_km/meshes/FL_thigh.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 0 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://g308_km/meshes/FL_thigh.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="FL_thigh_joint"
    type="revolute">
    <origin
      xyz="0.0677 0 -0.039"
      rpy="0 0 0" />
    <parent
      link="FL_hip" />
    <child
      link="FL_thigh" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="0"
      upper="0"
      effort="20"
      velocity="10" />
  </joint>
  <link
    name="FL_calf">
    <inertial>
      <origin
        xyz="0.0502864229248673 -0.091368336916456 0.0100012603719881"
        rpy="0 0 0" />
      <mass
        value="0.24357427073011" />
      <inertia
        ixx="0.000648204117665966"
        ixy="-0.000308645680472933"
        ixz="-2.22084370789132E-09"
        iyy="0.000186059943789518"
        iyz="5.1353840937384E-09"
        izz="0.0008233069902308" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://g308_km/meshes/FL_calf.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 0 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://g308_km/meshes/FL_calf.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="FL_calf_joint"
    type="revolute">
    <origin
      xyz="0 -0.22 -0.0765"
      rpy="0 0 0" />
    <parent
      link="FL_thigh" />
    <child
      link="FL_calf" />
    <axis
      xyz="0 0 -1" />
    <limit
      lower="0"
      upper="0"
      effort="20"
      velocity="10" />
  </joint>
  <link
    name="FL_foot">
    <inertial>
      <origin
        xyz="5.57990809113562E-09 0.000156464784550781 6.38025034006562E-05"
        rpy="0 0 0" />
      <mass
        value="0.0311902243903797" />
      <inertia
        ixx="5.06120841117781E-06"
        ixy="1.89067382214396E-14"
        ixz="8.44229934715806E-13"
        iyy="4.98515638872325E-06"
        iyz="-1.02064134491074E-08"
        izz="5.01872622594312E-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://g308_km/meshes/FL_foot.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://g308_km/meshes/FL_foot.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="FL_foot"
    type="fixed">
    <origin
      xyz="0.096205 -0.22407 0.01"
      rpy="2.9432 1.5708 0" />
    <parent
      link="FL_calf" />
    <child
      link="FL_foot" />
    <axis
      xyz="0 0 0" />
    <limit
      effort="20"
      velocity="10" />
  </joint>
  <link
    name="RL_hip">
    <inertial>
      <origin
        xyz="-0.0322961922062758 0.000118232562381428 -0.000486401620728584"
        rpy="0 0 0" />
      <mass
        value="0.644397945178878" />
      <inertia
        ixx="0.000560096488896003"
        ixy="-2.58445896960315E-08"
        ixz="1.17455817602919E-08"
        iyy="0.000387498452982005"
        iyz="-9.7756225314779E-09"
        izz="0.000727167585866916" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://g308_km/meshes/RL_hip.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0 0.501960784313725 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://g308_km/meshes/RL_hip.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="RL_hip_joint"
    type="revolute">
    <origin
      xyz="0.12709 -0.0615 0.0077356"
      rpy="1.5708 0 3.1416" />
    <parent
      link="base_link" />
    <child
      link="RL_hip" />
    <axis
      xyz="1 0 0" />
    <limit
      lower="0"
      upper="0"
      effort="20"
      velocity="10" />
  </joint>
  <link
    name="RL_thigh">
    <inertial>
      <origin
        xyz="-0.0150573221014351 -0.0224676918278657 -0.0232453567128689"
        rpy="0 0 0" />
      <mass
        value="1.28743263166332" />
      <inertia
        ixx="0.00278915910961467"
        ixy="0.000172770655683985"
        ixz="2.70466477608774E-06"
        iyy="0.000953560602144092"
        iyz="-2.8946600217002E-06"
        izz="0.00368008457107982" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://g308_km/meshes/RL_thigh.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 0 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://g308_km/meshes/RL_thigh.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="RL_thigh_joint"
    type="revolute">
    <origin
      xyz="-0.056059 -0.011641 -0.059"
      rpy="0 0 0" />
    <parent
      link="RL_hip" />
    <child
      link="RL_thigh" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="0"
      upper="0"
      effort="20"
      velocity="10" />
  </joint>
  <link
    name="RL_calf">
    <inertial>
      <origin
        xyz="0.050286422924934 -0.0913683369164015 0.0100012603719424"
        rpy="0 0 0" />
      <mass
        value="0.243574270730111" />
      <inertia
        ixx="0.000648204117665957"
        ixy="-0.000308645680472917"
        ixz="-2.22084372729985E-09"
        iyy="0.000186059943789613"
        iyz="5.13538413373095E-09"
        izz="0.000823306990230887" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://g308_km/meshes/RL_calf.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 0 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://g308_km/meshes/RL_calf.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="RL_calf_joint"
    type="revolute">
    <origin
      xyz="-0.011641 -0.20836 -0.0565"
      rpy="0 0 0" />
    <parent
      link="RL_thigh" />
    <child
      link="RL_calf" />
    <axis
      xyz="0 0 -1" />
    <limit
      lower="0"
      upper="0"
      effort="20"
      velocity="10" />
  </joint>
  <link
    name="RL_foot">
    <inertial>
      <origin
        xyz="5.57990809113562E-09 0.000156464784550669 6.38025034006562E-05"
        rpy="0 0 0" />
      <mass
        value="0.0311902243903798" />
      <inertia
        ixx="5.06120841117782E-06"
        ixy="1.89067431518709E-14"
        ixz="8.44229935295326E-13"
        iyy="4.98515638872326E-06"
        iyz="-1.0206413449107E-08"
        izz="5.01872622594313E-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://g308_km/meshes/RL_foot.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://g308_km/meshes/RL_foot.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="RL_foot_joint"
    type="fixed">
    <origin
      xyz="0.096205 -0.22407 0.01"
      rpy="2.9432 1.5708 0" />
    <parent
      link="RL_calf" />
    <child
      link="RL_foot" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="FR_hip">
    <inertial>
      <origin
        xyz="0.0328882308707014 5.1355865514708E-05 0.00116372480202909"
        rpy="0 0 0" />
      <mass
        value="0.627619661039507" />
      <inertia
        ixx="0.000548847991355844"
        ixy="2.58446337338265E-08"
        ixz="1.1745736386619E-08"
        iyy="0.00038703187400824"
        iyz="9.7756237385023E-09"
        izz="0.00071592312919307" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://g308_km/meshes/FR_hip.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0 0.501960784313725 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://g308_km/meshes/FR_hip.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="FR_hip_joint"
    type="revolute">
    <origin
      xyz="-0.1699 0.0615 0.0077356"
      rpy="1.5708 0 3.1416" />
    <parent
      link="base_link" />
    <child
      link="FR_hip" />
    <axis
      xyz="-1 0 0" />
    <limit
      lower="0"
      upper="0"
      effort="20"
      velocity="10" />
  </joint>
  <link
    name="FR_thigh">
    <inertial>
      <origin
        xyz="-0.0150778651576969 -0.0224882326218195 0.0232460338243055"
        rpy="0 0 0" />
      <mass
        value="1.28743262869174" />
      <inertia
        ixx="0.00278910275781179"
        ixy="0.000172770688733845"
        ixz="-2.7188114642057E-06"
        iyy="0.000953616948065256"
        iyz="2.8759610630868E-06"
        izz="0.00368008456528959" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://g308_km/meshes/FR_thigh.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 0 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://g308_km/meshes/FR_thigh.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="FR_thigh_joint"
    type="revolute">
    <origin
      xyz="0.079341 -0.011641 0.059"
      rpy="0 0 0" />
    <parent
      link="FR_hip" />
    <child
      link="FR_thigh" />
    <axis
      xyz="0 0 -1" />
    <limit
      lower="0"
      upper="0"
      effort="20"
      velocity="10" />
  </joint>
  <link
    name="FR_calf">
    <inertial>
      <origin
        xyz="0.0502864229245757 -0.0913683369170326 0.0100012603711955"
        rpy="0 0 0" />
      <mass
        value="0.24357427073011" />
      <inertia
        ixx="0.000648204117665606"
        ixy="-0.000308645680473207"
        ixz="-2.22084371124131E-09"
        iyy="0.000186059943789885"
        iyz="5.13538410068687E-09"
        izz="0.000823306990230807" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://g308_km/meshes/FR_calf.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 0 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://g308_km/meshes/FR_calf.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="FR_calf_joint"
    type="revolute">
    <origin
      xyz="-0.011641 -0.20836 0.0365"
      rpy="0 0 0" />
    <parent
      link="FR_thigh" />
    <child
      link="FR_calf" />
    <axis
      xyz="0 0 -1" />
    <limit
      lower="0"
      upper="0"
      effort="20"
      velocity="10" />
  </joint>
  <link
    name="FR_foot">
    <inertial>
      <origin
        xyz="5.57990809113562E-09 0.000156464784550669 6.38025034006839E-05"
        rpy="0 0 0" />
      <mass
        value="0.0311902243903797" />
      <inertia
        ixx="5.06120841117781E-06"
        ixy="1.8906738882967E-14"
        ixz="8.44229938233497E-13"
        iyy="4.98515638872325E-06"
        iyz="-1.0206413449107E-08"
        izz="5.01872622594312E-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://g308_km/meshes/FR_foot.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://g308_km/meshes/FR_foot.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="FR_foot_joint"
    type="fixed">
    <origin
      xyz="0.096204687182093 -0.224068557253551 0.00999999999925294"
      rpy="2.94324795442943 1.5707963267949 0" />
    <parent
      link="FR_calf" />
    <child
      link="FR_foot" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="RR_hip">
    <inertial>
      <origin
        xyz="-0.0323040033464891 0.000154622880941493 0.000486401620729243"
        rpy="0 0 0" />
      <mass
        value="0.644397945178878" />
      <inertia
        ixx="0.000560096488810072"
        ixy="2.58446337343121E-08"
        ixz="-1.17455805560981E-08"
        iyy="0.000387498453067936"
        iyz="-9.77577716496099E-09"
        izz="0.000727167585866916" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://g308_km/meshes/RR_hip.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0 0.501960784313725 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://g308_km/meshes/RR_hip.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="RR_hip_joint"
    type="revolute">
    <origin
      xyz="0.12709 0.0615 0.0077356"
      rpy="1.5708 0 3.1416" />
    <parent
      link="base_link" />
    <child
      link="RR_hip" />
    <axis
      xyz="1 0 0" />
    <limit
      lower="0"
      upper="0"
      effort="20"
      velocity="10" />
  </joint>
  <link
    name="RR_thigh">
    <inertial>
      <origin
        xyz="-0.0157084845463013 -0.0285377036608841 0.0248097292425613"
        rpy="0 0 0" />
      <mass
        value="1.09343659913002" />
      <inertia
        ixx="0.00267071503600654"
        ixy="0.00017253276179783"
        ixz="-2.70359357691744E-06"
        iyy="0.000835177537036547"
        iyz="2.87456808098823E-06"
        izz="0.0034642334275499" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://g308_km/meshes/RR_thigh.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 0 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://g308_km/meshes/RR_thigh.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="RR_thigh_joint"
    type="revolute">
    <origin
      xyz="-0.056059 -0.011641 0.059"
      rpy="0 0 0" />
    <parent
      link="RR_hip" />
    <child
      link="RR_thigh" />
    <axis
      xyz="0 0 -1" />
    <limit
      lower="0"
      upper="0"
      effort="20"
      velocity="10" />
  </joint>
  <link
    name="RR_calf">
    <inertial>
      <origin
        xyz="0.0502864229248036 -0.0913683369165559 0.0100012603716604"
        rpy="0 0 0" />
      <mass
        value="0.24357427073011" />
      <inertia
        ixx="0.000648204117665621"
        ixy="-0.000308645680473211"
        ixz="-2.22084372635169E-09"
        iyy="0.000186059943789856"
        iyz="5.13538413169624E-09"
        izz="0.000823306990230793" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://g308_km/meshes/RR_calf.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 0 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://g308_km/meshes/RR_calf.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="RR_calf_joint"
    type="revolute">
    <origin
      xyz="-0.011641 -0.20836 0.0365"
      rpy="0 0 0" />
    <parent
      link="RR_thigh" />
    <child
      link="RR_calf" />
    <axis
      xyz="0 0 -1" />
    <limit
      lower="0"
      upper="0"
      effort="20"
      velocity="10" />
  </joint>
  <link
    name="RR_foot">
    <inertial>
      <origin
        xyz="5.57990806338005E-09 0.000156464784550725 6.38025034006839E-05"
        rpy="0 0 0" />
      <mass
        value="0.0311902243903798" />
      <inertia
        ixx="5.06120841117781E-06"
        ixy="1.89067421324778E-14"
        ixz="8.44229932322898E-13"
        iyy="4.98515638872325E-06"
        iyz="-1.020641344911E-08"
        izz="5.01872622594312E-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://g308_km/meshes/RR_foot.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://g308_km/meshes/RR_foot.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="RR_foot_joint"
    type="fixed">
    <origin
      xyz="0.0962046871823301 -0.224068557253087 0.00999999999971268"
      rpy="2.94324795442943 1.5707963267949 0" />
    <parent
      link="RR_calf" />
    <child
      link="RR_foot" />
    <axis
      xyz="0 0 0" />
  </joint>
</robot>