<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.6.0-4-g7f85cfe  Build Version: 1.6.7995.38578
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="g308_test4">
  <link
    name="base">
    <inertial>
      <origin
        xyz="-0.0461979664524284 -1.17681768195695E-05 0.0105492310143219"
        rpy="0 0 0" />
      <mass
        value="1.95581210125627" />
      <inertia
        ixx="0.0147778202660152"
        ixy="-1.05162781463562E-07"
        ixz="-1.09332218398281E-06"
        iyy="0.0125847623047929"
        iyz="1.48283341202784E-06"
        izz="0.0210875822494919" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://g308_test4/meshes/base.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://g308_test4/meshes/base.STL" />
      </geometry>
    </collision>
  </link>
  <link
    name="FL_hip">
    <inertial>
      <origin
        xyz="0.0116552172002281 2.25295518936925E-05 0.0109687547571238"
        rpy="0 0 0" />
      <mass
        value="0.318232651145697" />
      <inertia
        ixx="0.000421217912344398"
        ixy="-9.7756841130853E-09"
        ixz="-1.17456584713468E-08"
        iyy="0.000224000982737508"
        iyz="-2.58446117132676E-08"
        izz="0.000231734319828521" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://g308_test4/meshes/FL_hip.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 0 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://g308_test4/meshes/FL_hip.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="FL_hip_joint"
    type="revolute">
    <origin
      xyz="-0.133706585889136 0.227700000000001 0.0123506153752162"
      rpy="1.5707963267949 0 0" />
    <parent
      link="base" />
    <child
      link="FL_hip" />
    <axis
      xyz="0 0 -1" />
    <limit
      lower="-3.14"
      upper="3.14"
      effort="20"
      velocity="10" />
  </joint>
  <link
    name="FL_thigh">
    <inertial>
      <origin
        xyz="0.00755809863982321 -0.00569509632056056 0.000848464541166216"
        rpy="0 0 0" />
      <mass
        value="0.478753525665284" />
      <inertia
        ixx="0.000799572117462148"
        ixy="4.14938306234336E-09"
        ixz="1.23600563290609E-08"
        iyy="0.000304445519109469"
        iyz="6.32109964884357E-05"
        izz="0.000522652052252059" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://g308_test4/meshes/FL_thigh.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 0 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://g308_test4/meshes/FL_thigh.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="FL_thigh_joint"
    type="revolute">
    <origin
      xyz="-0.0674999999999899 0 0"
      rpy="0 0 0" />
    <parent
      link="FL_hip" />
    <child
      link="FL_thigh" />
    <axis
      xyz="1 0 0" />
    <limit
      lower="-3.14"
      upper="3.14"
      effort="20"
      velocity="10" />
  </joint>
  <link
    name="FL_calf">
    <inertial>
      <origin
        xyz="3.42754513094901E-05 -0.040020083745353 -0.0633313265646756"
        rpy="0 0 0" />
      <mass
        value="0.101165794083911" />
      <inertia
        ixx="0.000194608017998216"
        ixy="-1.30568603268147E-10"
        ixz="-1.99930744125421E-10"
        iyy="0.000141463572684114"
        iyz="-7.94426080977233E-05"
        izz="6.03690927040474E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://g308_test4/meshes/FL_calf.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 0 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://g308_test4/meshes/FL_calf.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="FL_calf_joint"
    type="revolute">
    <origin
      xyz="-0.0180000000000018 -0.144888873943371 0.0388228567653897"
      rpy="0 0 0" />
    <parent
      link="FL_thigh" />
    <child
      link="FL_calf" />
    <axis
      xyz="1 0 0" />
    <limit
      lower="-3.14"
      upper="3.14"
      effort="20"
      velocity="10" />
  </joint>
  <link
    name="FL_foot">
    <inertial>
      <origin
        xyz="3.00659323299035E-07 -0.000157836202697853 -1.34139065289807E-05"
        rpy="0 0 0" />
      <mass
        value="0.0324776231528867" />
      <inertia
        ixx="5.27515496642011E-06"
        ixy="1.52667443892797E-10"
        ixz="7.22783020602248E-12"
        iyy="5.19389260053744E-06"
        iyz="-2.63599504965102E-09"
        izz="5.22466745579372E-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://g308_test4/meshes/FL_foot.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://g308_test4/meshes/FL_foot.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="FL_foot_joint"
    type="fixed">
    <origin
      xyz="0.000149999999999928 -0.106314214351297 -0.115518487694811"
      rpy="0 0 0" />
    <parent
      link="FL_calf" />
    <child
      link="FL_foot" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="RL_hip">
    <inertial>
      <origin
        xyz="0.0116552172002268 -2.2529551893951E-05 -0.0109687547571238"
        rpy="0 0 0" />
      <mass
        value="0.318232651145697" />
      <inertia
        ixx="0.000421217912344398"
        ixy="9.77568411314133E-09"
        ixz="1.17456584710205E-08"
        iyy="0.000224000982737508"
        iyz="-2.58446117132447E-08"
        izz="0.000231734319828521" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://g308_test4/meshes/RL_hip.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 0 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://g308_test4/meshes/RL_hip.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="RL_hip_joint"
    type="revolute">
    <origin
      xyz="-0.133706585889129 -0.2277 0.0120506153752187"
      rpy="1.5707963267949 0 0" />
    <parent
      link="base" />
    <child
      link="RL_hip" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="-3.14"
      upper="3.14"
      effort="20"
      velocity="10" />
  </joint>
  <link
    name="RL_thigh">
    <inertial>
      <origin
        xyz="0.00755809863982393 -0.00569509632055179 0.000848464541168548"
        rpy="0 0 0" />
      <mass
        value="0.478753525665284" />
      <inertia
        ixx="0.00079957211746215"
        ixy="4.14938306249143E-09"
        ixz="1.23600563292477E-08"
        iyy="0.000304445519109471"
        iyz="6.32109964884358E-05"
        izz="0.000522652052252059" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://g308_test4/meshes/RL_thigh.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 0 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://g308_test4/meshes/RL_thigh.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="RL_thigh_joint"
    type="revolute">
    <origin
      xyz="-0.0674999999999994 0 0"
      rpy="0 0 0" />
    <parent
      link="RL_hip" />
    <child
      link="RL_thigh" />
    <axis
      xyz="1 0 0" />
    <limit
      lower="-3.14"
      upper="3.14"
      effort="20"
      velocity="10" />
  </joint>
  <link
    name="RL_calf">
    <inertial>
      <origin
        xyz="3.42754513096288E-05 -0.0400200837453503 -0.0633313265646797"
        rpy="0 0 0" />
      <mass
        value="0.101165794083911" />
      <inertia
        ixx="0.000194608017998218"
        ixy="-1.30568603038773E-10"
        ixz="-1.99930743785512E-10"
        iyy="0.000141463572684123"
        iyz="-7.94426080977182E-05"
        izz="6.036909270404E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://g308_test4/meshes/RL_calf.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 0 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://g308_test4/meshes/RL_calf.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="RL_calf_joint"
    type="revolute">
    <origin
      xyz="-0.0180000000000004 -0.144888873943361 0.0388228567653868"
      rpy="0 0 0" />
    <parent
      link="RL_thigh" />
    <child
      link="RL_calf" />
    <axis
      xyz="1 0 0" />
    <limit
      lower="-3.14"
      upper="3.14"
      effort="20"
      velocity="10" />
  </joint>
  <link
    name="RL_foot">
    <inertial>
      <origin
        xyz="-3.97575039556841E-09 -0.000158405461231914 -1.23199536683494E-09"
        rpy="0 0 0" />
      <mass
        value="0.0324776231528866" />
      <inertia
        ixx="5.27515525323502E-06"
        ixy="-1.11411298083647E-13"
        ixz="2.27169126339279E-12"
        iyy="5.19366816295093E-06"
        iyz="1.25235730340677E-12"
        izz="5.22489160656526E-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://g308_test4/meshes/RL_foot.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://g308_test4/meshes/RL_foot.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="RL_foot_joint"
    type="fixed">
    <origin
      xyz="0.000150000000000344 -0.106314214351312 -0.115518487694808"
      rpy="0 0 0" />
    <parent
      link="RL_calf" />
    <child
      link="RL_foot" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="FR_hip">
    <inertial>
      <origin
        xyz="-0.0116552172002267 -3.68438686368499E-05 0.0109687547571236"
        rpy="0 0 0" />
      <mass
        value="0.318232651145697" />
      <inertia
        ixx="0.000421217912344398"
        ixy="-9.77568411311982E-09"
        ixz="1.17456584713419E-08"
        iyy="0.000224000982737508"
        iyz="2.58446117130885E-08"
        izz="0.000231734319828521" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://g308_test4/meshes/FR_hip.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 0 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://g308_test4/meshes/FR_hip.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="FR_hip_joint"
    type="revolute">
    <origin
      xyz="0.0412934141108763 0.2277 0.0122006153752204"
      rpy="1.5707963267949 0 0" />
    <parent
      link="base" />
    <child
      link="FR_hip" />
    <axis
      xyz="0 0 -1" />
    <limit
      lower="-3.14"
      upper="3.14"
      effort="20"
      velocity="10" />
  </joint>
  <link
    name="FR_thigh">
    <inertial>
      <origin
        xyz="-0.00755809863982528 -0.00565194816744022 0.000873376138983611"
        rpy="0 0 0" />
      <mass
        value="0.478753525665284" />
      <inertia
        ixx="0.000799572117462149"
        ixy="1.27788143028068E-08"
        ixz="-2.58655702263551E-09"
        iyy="0.000304434334664584"
        iyz="6.32174538306935E-05"
        izz="0.000522663236696945" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://g308_test4/meshes/FR_thigh.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 0 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://g308_test4/meshes/FR_thigh.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="FR_thigh_joint"
    type="revolute">
    <origin
      xyz="0.0675000000000023 0 0"
      rpy="0 0 0" />
    <parent
      link="FR_hip" />
    <child
      link="FR_thigh" />
    <axis
      xyz="-1 0 0" />
    <limit
      lower="-3.14"
      upper="3.14"
      effort="20"
      velocity="10" />
  </joint>
  <link
    name="FR_calf">
    <inertial>
      <origin
        xyz="3.42754513094345E-05 -0.0400200837453495 -0.063331326564677"
        rpy="0 0 0" />
      <mass
        value="0.10116579408391" />
      <inertia
        ixx="0.000194608017998216"
        ixy="-1.30568603327915E-10"
        ixz="-1.99930744177984E-10"
        iyy="0.000141463572684123"
        iyz="-7.9442608097719E-05"
        izz="6.0369092704038E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://g308_test4/meshes/FR_calf.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 0 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://g308_test4/meshes/FR_calf.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="FR_calf_joint"
    type="revolute">
    <origin
      xyz="0.0179999999999943 -0.14488887394336 0.0388228567653765"
      rpy="0 0 0" />
    <parent
      link="FR_thigh" />
    <child
      link="FR_calf" />
    <axis
      xyz="-1 0 0" />
    <limit
      lower="-3.14"
      upper="3.14"
      effort="20"
      velocity="10" />
  </joint>
  <link
    name="FR_foot">
    <inertial>
      <origin
        xyz="3.00659323326791E-07 -0.000157836202697964 -1.34139065288141E-05"
        rpy="0 0 0" />
      <mass
        value="0.0324776231528866" />
      <inertia
        ixx="5.27515496642011E-06"
        ixy="1.52667443887201E-10"
        ixz="7.2278302080268E-12"
        iyy="5.19389260053743E-06"
        iyz="-2.6359950496578E-09"
        izz="5.22466745579371E-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://g308_test4/meshes/FR_foot.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://g308_test4/meshes/FR_foot.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="FR_foot_joint"
    type="fixed">
    <origin
      xyz="0.000149999999999789 -0.106314214351308 -0.115518487694804"
      rpy="0 0 0" />
    <parent
      link="FR_calf" />
    <child
      link="FR_foot" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="RR_hip">
    <inertial>
      <origin
        xyz="-0.0116552172002267 3.68438686359253E-05 -0.0109687547571237"
        rpy="0 0 0" />
      <mass
        value="0.318232651145697" />
      <inertia
        ixx="0.000421217912344398"
        ixy="9.77568411311122E-09"
        ixz="-1.17456584712419E-08"
        iyy="0.000224000982737508"
        iyz="2.58446117130826E-08"
        izz="0.000231734319828521" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://g308_test4/meshes/RR_hip.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 0 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://g308_test4/meshes/RR_hip.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="RR_hip_joint"
    type="revolute">
    <origin
      xyz="0.0412934141108729 -0.2277 0.0122006153752164"
      rpy="1.5707963267949 0 0" />
    <parent
      link="base" />
    <child
      link="RR_hip" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="-3.14"
      upper="3.14"
      effort="20"
      velocity="10" />
  </joint>
  <link
    name="RR_thigh">
    <inertial>
      <origin
        xyz="-0.00755809863982285 -0.00633880260304969 0.00196339652760066"
        rpy="0 0 0" />
      <mass
        value="0.478753525665284" />
      <inertia
        ixx="0.000799572117462147"
        ixy="-1.27788143054523E-08"
        ixz="2.58655702322065E-09"
        iyy="0.000304434334664581"
        iyz="6.32174538306905E-05"
        izz="0.000522663236696946" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://g308_test4/meshes/RR_thigh.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 0 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://g308_test4/meshes/RR_thigh.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="RR_thigh_joint"
    type="revolute">
    <origin
      xyz="0.0674999999999991 0 0"
      rpy="0 0 0" />
    <parent
      link="RR_hip" />
    <child
      link="RR_thigh" />
    <axis
      xyz="-1 0 0" />
    <limit
      lower="-3.14"
      upper="3.14"
      effort="20"
      velocity="10" />
  </joint>
  <link
    name="RR_calf">
    <inertial>
      <origin
        xyz="3.42754513118215E-05 -0.0400200837453511 -0.0633313265646774"
        rpy="0 0 0" />
      <mass
        value="0.101165794083911" />
      <inertia
        ixx="0.000194608017998217"
        ixy="-1.30568603454973E-10"
        ixz="-1.99930744363144E-10"
        iyy="0.000141463572684123"
        iyz="-7.94426080977183E-05"
        izz="6.03690927040393E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://g308_test4/meshes/RR_calf.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 0 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://g308_test4/meshes/RR_calf.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="RR_calf_joint"
    type="revolute">
    <origin
      xyz="0.0179999999999977 -0.144888873943359 0.0388228567653716"
      rpy="0 0 0" />
    <parent
      link="RR_thigh" />
    <child
      link="RR_calf" />
    <axis
      xyz="-1 0 0" />
    <limit
      lower="-3.14"
      upper="3.14"
      effort="20"
      velocity="10" />
  </joint>
  <link
    name="RR_foot">
    <inertial>
      <origin
        xyz="-3.97575009025708E-09 -0.000158405453709098 -1.23218241165901E-09"
        rpy="0 0 0" />
      <mass
        value="0.0324776231528866" />
      <inertia
        ixx="5.27515525323502E-06"
        ixy="-1.11411298191749E-13"
        ixz="2.2716912642438E-12"
        iyy="5.19366816295093E-06"
        iyz="1.25235730445715E-12"
        izz="5.22489160656526E-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://g308_test4/meshes/RR_foot.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://g308_test4/meshes/RR_foot.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="RR_foot"
    type="fixed">
    <origin
      xyz="0.000150000000003925 -0.106314214361343 -0.115518487694555"
      rpy="0 0 0" />
    <parent
      link="RR_calf" />
    <child
      link="RR_foot" />
    <axis
      xyz="0 0 0" />
  </joint>
</robot>